# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build outputs
/build/
/dist/
/.cache/
/.vite/
/.parcel-cache/
coverage/

# Env
.env
.env.*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Misc
*.local

# Vite per-example caches
examples/**/node_modules/.vite/
examples/**/dist/
